// COLORS
$color-grey-light: #8994a1;

.page {
    background-color: rgba($color-grey-light, .3);
    padding: 3rem;
    min-height: 100vh;
}

.gutter {
    padding: 0 .5rem;

    @media only screen and (max-width: 720px) {
        padding: .5rem;
    }
}

.footer {
    position: absolute;
    bottom: 3rem;

    @media only screen and (max-width: 1024px) {
        position: unset;
        bottom: 0;
        margin-top: 2rem;
    }

    &_icon {
        padding: 0 .5rem;
        position: relative;
        bottom: .2rem;
    }

    .text {
        @media only screen and (max-width: 420px) {
            width: 100%;
            text-align: center;
        }
    }
}