// COLORS
$color-white: #fff;
$color-primary: #1186ed;

.table {
    overflow: scroll;
}

.tableInputs {
    width: 30rem;
    
    @media only screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 1rem !important;
    }
}

.inputContainer > * + * {
    margin-left: 1rem;
    
    @media only screen and (max-width: 1024px) {
        margin-left: 0;
    }
}

.search {
    position: relative;

    &_filter {
        background-color: $color-primary;
        color: $color-white;
        padding: .3rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
        position: absolute;
        top: .2rem;
        right: 2.5rem;
    }
}